<?xml version="1.0" encoding="utf-8"?>
<launch>
<include file="$(find find_moving_objects)/launch/includes/laserscan_interpreter_node.launch.xml">
      <arg name="subscribe_topic" value="/robo_cart/scan_filtered" />
      <arg name="topic_objects" value="/moving_objects" />
      <arg name="subscribe_buffer_size" value="10" />
    </include>    

<!-- Run confidence enhancing node -->
  <node pkg="find_moving_objects"
        type="moving_objects_confidence_enhancer_node"
        name="confidence_enhancer_node"
        ns="confidence_enhancer"
        output="screen" >
    <param name="subscribe_topic" value="/moving_objects" />
  </node>

</launch>